.erroLogin {

    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
}

.welcomeLink:active {

    color: #ff0000;
    font-size: 24px;
    font-weight:bold;
    text-decoration: none;
}

.welcomeLink:link {

    color: #000000;
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
}

.welcomeLink:hover {

    color: #ff0000;
    font-size: 24px;
    font-weight:bold;
    text-decoration: none;
}

.welcomeTxt{

    font-size: 22px;
}

.divwelcome{   

    margin-left: 100px;
}

.welcomeMsg{

    font-size: 30px;
    color: #000066
}

.minimo:link {
    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.minimo:active {
    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.minimo:visited {
    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.minimo:hover {
    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
    text-decoration: underline;
}
.minimo{
    color: #ff0000;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.medio:link {
    color: #ff9900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.medio:active {
    color: #ff9900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.medio:visited {
    color: #ff9900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.medio:hover {
    color: #ff9900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: underline;
}
.medio{
    color: #ff9900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.maximo:link {
    color: #009900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.maximo:active {
    color: #009900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.maximo:visited {
    color: #009900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.maximo:hover {
    color: #009900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: underline;
}
.maximo{
    color: #009900;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}

.link-sair{

    border: #ffffff solid 2px;
    padding: 1px;
    background: #CC0202;
    font-size: 3px;
    color: #CC0202;
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 15px;
}

.link-sair:hover{

    border: #ffffff solid 2px;
    padding: 15px;
    background: #CC0202;
    font-size: 45px;
    color: #ffffff;
    position: fixed;
    z-index: 100;
    right: 0px;
    top: 0px;
}

.align-center{

    text-align: center;

}

.blueText {

    color: blue; 
    font-size: 16px;

}
.yellowText {

    color: #e43796; 
    font-size: 24px;
    font-style: italic;

}
.yellowTexthover:hover{

    color: #ff9900; 
    font-size: 28px

}
.textHover:hover {

    text-align: center;
    font-size: 20px;

}

.menuHover:hover {

    color: red;
    font-size: 16px;

}

.login{

    top: 180px;
    margin:0 auto;
    position: relative;

}
body{
    background-color:#aca6a8;
}
.topo{
    background-color:activeborder;
    //background-color:#ccccff;
    float: top;
    border: 0.8px #aabaa8 solid;     
}
.titulo{
    margin-left: 20px;
    margin-top: 15px;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.conteudo-menu{
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}
.titulo{
    font: 700 45px 'Oswald';
    color: #6666ff;
}

.radius/*, .ui-layout-unit,.ui-widget-content */{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.texto-menu{
    font: 400 16px 'Oswald';
}

.ui-widget-content{
    font: 400 16px 'Oswald';
    background-color:#ffffff;
    color: #000000;
}

/*.ui-panelgrid td, .ui-panelgrid tr{
    border-style: none !important
}*/

.facet{
    font: 400 16px 'Oswald';
    background-color:#ffffff;
    color: #000000; 
}

.mainform{
    padding-top: 35px;
}

.ColOpcoes{
    font: 400 12px 'Oswald';
    font-weight:bold;    
}

.FormListaItens{
    font: 400 12px 'Oswald';
    color: black;
}

.colAdj {
    font: 400 13px 'Oswald';
    color: black;
}

.textoTitulo1{
    font: 400 16px 'Oswald';
    color: black;  
}
